<h1>PROFILE PAGE</h1>
<h1><%= user.username %></h1>
<h1><%= user.email %></h1>
<h1><%= user.fname %></h1>
<h1><%= user.sname %></h1>
<h1><%= user.addressLine1 %></h1>
<h1><%= user.addressLine2 %></h1>
<h1><%= user.postcode %></h1>
<h1><%= user.profilePic %></h1>

<div class="">
  <a class="rbtn" href="#">EDIT</a>
  <a class="rbtn" href="#">DELETE MY ACCOUNT</a>
</div>
